@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Inter-Italic";
  src: url("../fonts/roboto/Roboto-Italic.ttf");
}
/* FONTS */
/* COLORS */
* {
  font: 14px/18px "Inter-Regular";
}
.hidden {
  display: none !important;
}
.input_error {
  border: 1px solid #EB5757 !important;
}
body {
  background-color: #2C2D34;
  margin: 0;
  padding: 0;
}
